@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    /* reset */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* color */
    --colorBlack: #0e0e10;
    --colorDarkgrey: #18181b;
    --colorGrey: #1f1f23;
    --colorLightgrey: #33333a;
    --colorWhite: #efeff1;
    --colorPurple: #ff38db;
    --colorCyan: #00f0f0;
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: var(--colorWhite);
    /* misc */
}

body {
    background: var(--colorBlack);
}

#background {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(180deg, var(--colorPurple), var(--colorCyan)); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 99%;
    height: 99%;
    background: var(--colorDarkgrey);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 3rem;
}

#logo span {
    /* background: var(--colorLightgrey); */
    border: 1px solid var(--colorPurple);
    border-radius: 5px;
    padding: 10px;
}

#logo span:hover {
    border: 1px solid var(--colorCyan);
}